*{
	padding: 0;
	margin: 0;
}
body{
	background: #333;
}
.box {
	width: 800px;
	height: 280px;
	margin: 50px auto;
}

.box .link{
	width: 205px;
	height: 280px;
	float: left;
	margin: 0 20px;
}

.link .icon{
	width: 100%;
	height: 190px;
	display: inline-block;
	
}

.link-miss .icon{
	background: url(../src/revolvingBtn/mission.png) no-repeat center center;
}

.link-play .icon{
	background: url(../src/revolvingBtn/play.png) no-repeat center center;
}

.link-touch .icon{
	background: url(../src/revolvingBtn/touch.png) no-repeat center center;
}

.link .icon:hover{
	transition: 0.5s ease-out;
	transform:rotate(360deg) scale(1.2);
	-o-transform:rotate(360deg) scale(1.2);
	-ms-transform:rotate(360deg) scale(1.2);
	-moz-transform:rotate(360deg) scale(1.2);
	-webkit-transform:rotate(360deg) scale(1.2);
}

.link .button{
	display: block;
	width: 180px;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	color: #2DCB70;
	font-weight: bolder;
	position: relative;
	font-family: Arial;
	border: 2px solid rgba(255,255,255,0.8);
	padding-left: 20px;
	margin: 0 auto;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	background: url(../src/revolvingBtn/allow.png) no-repeat 130px center;
	transition: 0.4s ease;
	-o-transition: 0.4s ease;
	-ms-transition: 0.4s ease;
	-moz-transition: 0.4s ease;
	-webkit-transition: 0.4s ease;
}

.link .button:hover{
	border: 2px solid rgba(255,255,255,1);
	background-position: 140px center;
}

.button .line {
	display: block;
	position: absolute;
	background: none;
	transition: 0.4s ease;
	-o-transition: 0.4s ease;
	-ms-transition: 0.4s ease;
	-moz-transition: 0.4s ease;
	-webkit-transition: 0.4s ease;
}

.button:hover .line{
	background:#fff;
}

.button .line-top{
	height: 2px;
	width: 0;
	left: -100%;
	top: -2px;	
}

.button:hover .line-top{
	width: 102%;
	left: -2px;
}

.button .line-right{
	height: 0;
	width: 2px;
	right: -2px;
	top: -110%;	
}

.button:hover .line-right{
	height: 102%;
	top:-2px;
}

.button .line-bottom{
	height: 2px;
	width: 0;
	right: -110%;
	bottom: -2px;	
}

.button:hover .line-bottom{
	width: 102%;
	right: -2px;
}

.button .line-left{
	height: 0;
	width: 2px;
	bottom: -110%;
	left: -2px;	
}

.button:hover .line-left{
	height: 102%;
	bottom: -2px;
}


